// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------
body {
  min-height: 100vh;
}

.text-orange {
  color: $orange;
}

.btn-primary {
  color: $white;
  font-weight: 600;
}

.img-fluid {
  width: 100%;
}

.fluid-height {
  height: 100%;
}

p {
  color: $gray-400;

  &:last-of-type {
    margin-bottom: 0;
  }

  &.lead {
    line-height: 1.2
  }
}

a:hover {
  text-decoration: none;
}

.form-control {
  border: 0;
  padding-left: 0;

  &::placeholder {
    color: $gray-600;
    opacity: 1;
  }
}


  label,
  .input-group-text {
    min-width: 100px;
  background: $white;
  border: 0;
  color: black;
  font-weight: 600;
  }

  .form-control:focus {
    outline: 0;
    border: 0 none;
    box-shadow: none;
  }

.labelfocus {
  color: $primary;
}

.service {
  background: $gray-900;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  width: 0.75em;

  &.fa-w-16 {
    width: 1rem;
  }
}


@include media-breakpoint-down(md) {
  .notification {}
  .input-group {
    flex-direction: column;
  }

  .btn-primary {
    width: 100%;
  }

  .service {
    background: none;
  }
}
